$cWhite: white;
$cWhite-200: #F7F7F7;
$cBlack: black;
$cOrange: #F69320;
$cOrange-200: #C49A6D;
$cBlue: #4A6FFF;
$cBlue-200: #0D6EB5;
$cBlue-300: #615DA9;
$cBlue-400: #23A8E0;
$cRad: #F15A2A;
$cBrown: #552400;
$cBrown-200: #4D4D4D;
$cGreen: #07913A;
$cYellow: #FFD63A;


$contentMaxWidth-770: 770px;
$contentMaxWidth-1150: 1150px;
$contentMaxWidth-1300: 1300px;
$navHeight-100: 100px;
$navHeight-150: 150px;
